.spacer {
  flex: 1;
}

.desktop-menu {
  display: flex;
  gap: 10px;
}

/* Hide mobile menu button on large screens */
.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

/* Styles for sidenav */
.sidenav-container {
  position: absolute;
  z-index: 1000;
}
